.container {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 25px;

  h2 {
    font-size: 18px;
    letter-spacing: -0.25px;
    font-weight: bold;
    padding: 20px;
  }
}