.container {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;

  .wrapper {
    width: 60%;

    .header {
      margin-bottom: 50px;

      .backButton {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        color: #647196;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    form {
      background-color: #FFFFFF;
      padding: 40px;
      width: 100%;
      border-radius: 10px;

      .addIconButton {
        background: url('/assets/suggestions/desktop/background-header.png');
        background-size: cover;
        border-radius: 50%;
        height: 56px;
        width: 56px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -70px;
        margin-bottom: 20px;

        img {
          color: #FFFFFF;
        }
      }

      h2 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.33px;
        color: #3A4374;
        margin-bottom: 20px;
      }

      .section {
        margin-bottom: 20px;
      }

      .labelTitle {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -0.19px;
        color: #3A4374;
      }

      .labelDesc {
        font-size: 14px;
        color: #647196;
      }

      input,
      textarea {
        width: 100%;
        padding: 15px;
        background-color: #F7F8FD;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        color: #3A4374;
      }

      textarea {
        resize: none;
        font-family: Jost;
        height: 96px;
      }

      .actionButtons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        button {
          display: flex;
          align-items: flex-end;
          gap: 2px;
          color: #F2F4FE;
          border: none;
          border-radius: 10px;
          padding: 15px 30px;
          font-size: 14px;
          font-weight: bold;

          &:active {
            opacity: 50%;
          }
        }

        .cancel {
          background-color: #3A4374;
        }

        .add {
          background-color: #AD1FEA;
        }

        .delete {
          background-color: #D73737;
        }

        &.editButtons {
          justify-content: space-between;

          .rightButtons {
            display: flex;
            gap: 10px;
          }
        }
      }
    }
  }
}