@import 'media-queries';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  
  @include mobile {
    margin-top: 80px;
  }
}

.listContainer {
  padding: 70px;
  padding-top: 0px;

  @include tablet {
    padding: 40px;
    padding-top: 0px;
  }

  @include mobile {
    padding: 20px;
    padding-top: 0px;
  }
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373F68;
  border-radius: 10px;
  padding: 20px;
  color: #F2F4FE;
  font-size: 18px;

  margin: 70px;
  margin-bottom: 0px;

  @include tablet {
    margin: 40px;
    margin-bottom: 0px;
  }

  @include mobile {
    margin: 0px;
    border-radius: 0px;
    padding: 10px;
  }
}

.topBarLeft {
  display: flex;
  align-items: center;
  gap: 30px;

  .suggestionsTitle {
    font-size: 18px;

    @include mobile {
      display: none;
    }
  }
}

.bulbIcon {
  width: 24px;
  height: 24px;

  @include mobile {
    display: none;
  }
}

.addFeedback {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  background-color: #AD1FEA;
  color: #F2F4FE;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: bold;
}

.noFeedbackWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
}

.noFeedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 60%;

  h2 {
    font-weight: bold;
    font-size: 24px;
    color: #3A4374;
  }

  p {
    font-size: 16px;
    color: #647196;
  }
}

.feedbackList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}