.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardBoardName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  padding: 30px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  height: 137px;

  color: #FFFFFF;

  h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.25px;
  }

  p {
    font-weight: medium;
    font-size: 15px;
  }
}

.cardBoardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;

  .tag {
    border-radius: 15px;
    background-color: #F2F4FF;
    color: #4661E6;
    padding: 10px 20px;

    &.selected {
      background-color: #4661E6;
      color: #F2F4FF;
    }
  }
}

.cardRoadmap {
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;

  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h3 {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: -0.25px;
    }

    button {
      border: none;
      background: none;
      color: #4661E6;
      font-size: 13px;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .rows {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .rowLeft {
        display: flex;
        align-items: center;
        gap: 15px;

        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;

          &.bgYellow {
            background-color: #F49F85;
          }

          &.bgPurple {
            background-color: #AD1FEA;
          }

          &.bgGreen {
            background-color: #62BCFA;
          }
        }

        .label {
          font-size: 16px;
          color: #647196;
        }
      }

      .num {
        font-weight: bold;
        color: #647196;
      }
    }
  }
}