.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: red;
}

.cardBoardName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  padding: 30px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  height: 137px;

  color: #FFFFFF;

  h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.25px;
  }

  p {
    font-weight: medium;
    font-size: 15px;
  }
}

.cardBoardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;

  .tag {
    border-radius: 15px;
    background-color: #F2F4FF;
    color: #4661E6;
    padding: 10px 20px;

    &.selected {
      background-color: #4661E6;
      color: #F2F4FF;
    }
  }
}